<div class="container row">
    <div class=" col-lg-2 col-md-2"></div>
    <div class=" col-lg-8 col-md-8 ">


        <h1>Edit CV</h1>

        <div ng-if="model.success" class="alert alert-success">
            {{model.success}}
        </div>

        <div ng-if="model.error" class="alert alert-danger">
            {{model.error}}
        </div>

        <!----------------------------------------------------------------------------------------->
        <!-- Resume Upload -->

        <div class="row">
            <div class="col-lg-4"><b>Upload resume</b></div>
            <div class="col-lg-6"> <a href="#/uploadResume"><button class="btn btn-primary btn-block"
                        type="submit">Upload Resume</button></a></div>
            <h1 style="color:white">`</h1>
        </div>





        <form novalidate name="model.myform">
            <!----------------------------------------------------------------------------------------->
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="walice"
                required>
            <!-- This field is not editable-->


            <br />

            <!----------------------------------------------------------------------------------------->
            <label for="email">Email address</label>
            <input ng-model="model.user.email" type="email" name="email" class="form-control" id="email"
                placeholder="alice.wonderland@unicorn.com" required>

            <span class="alert-class" ng-show="model.myform.email.$invalid">
                {{model.alert}}
            </span>
            <!----------------------------------------------------------------------------------------->
            <br />


            <label for="first-name">Name</label>
            <input ng-model="model.user.firstName" type="text" name="firstName" class="form-control" id="first-name"
                placeholder="Alice" required>
            <span class="alert-class" ng-show="model.myform.firstName.$invalid">
                {{model.alert}}
            </span>
            <!----------------------------------------------------------------------------------------->
            <br />

            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName" name="lastName" type="text" class="form-control" id="last-name"
                placeholder="Wonderland" required>

            <span class="alert-class" ng-show="model.myform.lastName.$invalid">
                {{model.alert}}
            </span>

            <!----------------------------------------------------------------------------------------->

            </span>
            <!----------------------------------------------------------------------------------------->
            <br />

            <label for="job-sector">Job Sector</label>
            <input ng-model="model.user.jobSector" name="jobSector" type="text" class="form-control" id="job-sector"
                placeholder="Job Sector" required>

            <span class="alert-class" ng-show="model.myform.jobSector.$invalid">
                {{model.alert}}
            </span>




            <!----------------------------------------------------------------------------------------->
            </br>

            <label for="min-gcse"> Minimum Number of GCSE Passes</label>
            <input ng-model="model.user.minNoGcse"  name="minNoGcse" type="text" class="form-control" id="min-gcse"
                placeholder="Minimum Number of GCSE Passes" required>

            <span class="alert-class" ng-show="model.myform.minNoGcse.$invalid">
                {{model.alert}}
            </span>
<b>
            </br>
            <label for="min-edu"> Minimum Educational Level</label>
            <input ng-model="model.user.minEduLvl" type="text" name="minEduLvl" class="form-control" id="min-edu"
                placeholder="Minimum Educational Level" required>

            <span class="alert-class" ng-show="model.myform.minEduLvl.$invalid">
                {{model.alert}}
            </span>
<br>
            </br>
            <label for="skills"> Skills</label>
            <input ng-model="model.user.userSkills" type="text" name="userSkills" class="form-control" id="skills"
                placeholder="Skills" required>

            <span class="alert-class" ng-show="model.myform.userSkills$invalid">
                {{model.alert}}
            </span>
<br>
            </br>
            <label for="userExperience"> Experience</label>
            <input ng-model="model.user.userExperience" type="text" name="userExperience" class="form-control" id="userExperience"
                placeholder="Experience" required>

            <span class="alert-class" ng-show="model.myform.userExperience.$invalid">
                {{model.alert}}
            </span>
<br>
            </br>
            <!------------------------------------------------------------------------>



            <div class="row" style="margin-bottom: 10px;">
            <!--Button to add-->
                <div class="col-sm-12" style="margin-bottom: 20px;">
                <label>Educational Qualification</label>
                <div class="col-sm-12" ng-repeat="educationalQualification in model.user.educationalQualifications track by $index">
                    <div style="display: flex; margin-bottom: 5px;">
                        <input  style="flex: 8; margin-right: 10px;"  class="form-control" type='text' value='{{educationalQualification}}' ng-model="model.user.educationalQualifications[$index]"/>
                        <button style="flex: 2" class="btn btn-primary btn-block" ng-click="model.removeEducationalQualification($index)">
                            Remove
                        </button>
                    </div>
                </div>
                <div style="margin-top: 10px;" class="col-sm-12">
                    <button class="btn btn-primary btn-block" ng-click="model.addEducationalQualification()">
                        Add
                    </button>
                </div>
            </div>

            
            <div class="row" style="margin-bottom: 10px;">
                <!--Button to add-->
                    <div class="col-sm-12" style="margin-bottom: 20px;">
                    <label>Professional Qualification</label>
                    <div class="col-sm-12" ng-repeat="professionalQualification in model.user.professionalQualifications track by $index">
                        <div style="display: flex; margin-bottom: 5px;">
                            <input  style="flex: 8; margin-right: 10px;"  class="form-control" type='text' value='{{professionalQualification}}' ng-model="model.user.educationalQualifications[$index]"/>
                            <button style="flex: 2" class="btn btn-primary btn-block" ng-click="model.removeProfessionalQualification($index)">
                                Remove
                            </button>
                        </div>
                    </div>
                    <div style="margin-top: 10px;" class="col-sm-12">
                        <button class="btn btn-primary btn-block" ng-click="model.addProfessionalQualification()">
                            Add
                        </button>
                    </div>
                </div>
            <!----------------------------------------------------------------------------------------->
            <!-- Phone Number-->
            </div>

            <label for="last-name">Phone Number</label>
            <input ng-model="model.user.phone" type="text" name="phone" class="form-control" id="phone"
                placeholder="617-447-9680">
            <span class="alert-class" ng-show="model.myform.phone.$invalid">
                {{model.alert}}
            </span>

            <br>
            <!----------------------------------------------------------------------------------------->
            <!-- About Myself-->


            <label for="last-name">About Myself</label>
            <input ng-model="model.user.aboutMyself" type="text" class="form-control" id="About Myself"
                placeholder="Few Lines about myself">

            <br>
            <!----------------------------------------------------------------------------------------->

            <div class="row">
                <div class="col-md-4">
                    <button ng-click="model.updateUser(model.user)" class="btn btn-primary btn-block" type="submit">
                        Update Profile
                    </button>
                </div>

                <div class="col-md-4">
                    <a ng-click="model.logout()" class="btn btn-danger btn-block">Logout</a>
                </div>

                <div class="col-md-4">
                    <a class="btn btn-danger btn-block " ng-click="model.deleteUser()">un-register</a>
                </div>
            </div>



        </form>



    </div>
    <div class="  col-lg-2  col-md-2"></div>
</div>
<!-------------------------------------------------->
<!----------------- Footer ------------------------->
<!--------------------------------------------------->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click="model.logout()">Logout</a>
            </a>
        </p>

        <p class="navbar-text pull-left">
            <a href="#/sprofile">
                <span>Back to Profile</span>
            </a>
        </p>

    </div>
</nav>